@charset "utf-8";

/* 
    Author: Brenden Riley
    Date:12.13.18

    filename: fonts.css
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather');

article, li, section, p, h1, h2, h3, h4, h5, h6, {
    color: red;
}