@charset "utf-8";

/* 
    Author: Brenden Riley
    Date: 11.16.18

    filename: styles4.css
*/

html {
    background-image: url(background.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: round;
    background-attachment: fixed;
}

body {
    width: 90%;
    min-width: 300px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(227, 228, 228, 0.95);
}

header>h1 {
    text-align: center;
    font-size: 2.7em;
    text-shadow: rgba(100, 100, 100, 0.7) 5px 0px rgba(40, 40, 40, 0.7) 10px 5px 25px;
}

nav#horizontal {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav#horizontal ul a {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    background: linear-gradient(345deg, rgba(43, 45, 148, 0.74), rgba(67, 67, 100, 0.726) 80%);
}

nav#horizontal ul a:link,
nav#horizontal ul a:visited {}

nav#horizontal ul a:hover,
nav#horizontal ul a:active {
    background-color: rgb(80, 80, 158);
    transition: .5s ease;
}

section#edugrid h2 {
    text-align: center;
    text-decoration: underline;
}

.edusec>ul {
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    display: block;
}

/* 
========================
Mobile Styles (0-480 px)
========================
*/
@media only screen and (max-width: 480px) {
    .edusec {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}

/* 
====================
Mobile&Tablet Styles
====================
*/
@media only screen and (max-width: 768px) {
    nav#horizontal ul a {
        display: flex;
        flex: 1 1 180px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 42%;
    }

    a#navicon img {
        width: 50%;
    }

    a#navicon {
        display: block;
        width: 10%;
    }

    nav.horizontal ul {
        display: none;
    }

    a#navicon:hover+ul,
    nav.horizontal ul:hover {
        display: block;
    }

}

/* 
===================================
Tablet&Desktop Styles (481+ pixels)
===================================
*/
@media only screen and (min-width: 481px) {
    section#edugrid {
        display: grid;
        grid-template-rows: 290px 290px;
        grid-template-columns: 3% 45% 2% 2% 45% 3%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    section#edusec1 {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    section#edusec2 {
        grid-column: 4 / 6;
        grid-row: 1 / 2;
    }

    section#edusec3 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    section#edusec4 {
        grid-column: 4 / 6;
        grid-row: 2 / 3;
    }

}

/* 
=======================
Desktop Styles (769+px)
=======================
*/
@media only screen and (min-width: 768px) {
    .edusec {
        border-radius: 145px;
        border: 1px solid black;
    }

    #edugrid {
        width: 65%;
    }

    nav#horizontal ul a {
        width: 19.4%;
        display: inline-block;
    }

    a#navicon {
        display: none;
    }
}