@charset "utf-8";

/* 

Author: Brenden Riley
Date: 11.16.18

filename: styles3.css

 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* the name at the top of the page is larger and centered */
header>h1 {
    text-align: center;
    font-size: 2.7em;
}

/* the entire page has a background that does not move */
html {
    background-image: url(background.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: round;
    background-attachment: fixed;
}

/* the body is centered, with limits to how much it can scale , centered while taking up 90% of the page */
body {
    width: 90%;
    min-width: 300px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(227, 228, 228, 0.9);
}

/* the top navigation is centered, with centered text */
nav#horizontal {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* the links within the nav scale have a gradiet background, with small decorative changes */
nav#horizontal ul a {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    background: linear-gradient(345deg, rgba(43, 45, 148, 0.74), rgba(67, 67, 100, 0.726) 80%);
    font-family: 'Open Sans', sans-serif;
}

/* the hypertext within the navigation changes over time to look better */
nav#horizontal ul a:hover,
nav#horizontal ul a:active {
    background-color: rgb(80, 80, 158);
    transition: .5s ease;
}

/* the skills list will not have a style, but will be centered, with a larger font and line height size */
ul#skills {
    list-style: none;
    line-height: 1.5em;
    font-size: 2em;
    margin: 10px auto;
}

/* the h1 heading will be centered with large text */
h1 {
    text-align: center;
    font-size: 3em;
}

/* the paragraphs will be blocks that are centered and larger */
p {
    display: block;
    font-size: 2.9em;
    text-align: center;
}

/* the first bar is red and goes 60% of the body */
p#bar1 {
    height: 55px;
    width: 60%;
    background-color: rgba(247, 2, 2, 0.801);
    margin-top: 0px;
    margin-bottom: 0px;
}

/* the second bar is orange and goes 80% of the body */
p#bar2 {
    height: 55px;
    width: 80%;
    background-color: rgba(238, 136, 20, 0.932);
    margin-top: 0px;
    margin-bottom: 0px;
}

/* the third bar is yellow and goes 70% of the body */
p#bar3 {
    height: 55px;
    width: 70%;
    background-color: rgba(220, 235, 21, 0.856);
    margin-top: 0px;
    margin-bottom: 0px;
}

/* the fourth bar is green and goes 85% of the body */
p#bar4 {
    height: 55px;
    width: 85%;
    background-color: rgba(36, 228, 29, 0.829);
    margin-top: 0px;
    margin-bottom: 0px;
}

/* the fifth bar is blue and goes 65% of the body */
p#bar5 {
    height: 55px;
    width: 65%;
    background-color: rgba(33, 61, 219, 0.795);
    margin-top: 0px;
    margin-bottom: 0px;
}

/* unordered lists with he nav id stay to the left, with no list style or top/bottom margin */
ul#nav {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* horizontal rules (lines) are centered and take up 50% of the page */
hr {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

/* the images are displayed as blocks */
img {
    display: block;
}

/* articles are the open sans font */
article {
    font-family: 'Open Sans', sans-serif;
}

/* 
====================
Mobile&Tablet Styles
====================
*/
/*  While within the range of tablet and mobile sizes, the navigation shrinks to the nav image, which when hovered over brings up the rest of the navigation */
@media only screen and (max-width: 768px) {
    nav#horizontal ul a {
        display: flex;
        flex: 1 1 180px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 42%;
    }

    a#navicon img {
        width: 50%;
    }

    a#navicon {
        display: block;
        width: 10%;
    }

    nav.horizontal ul {
        display: none;
    }

    a#navicon:hover+ul,
    nav.horizontal ul:hover {
        display: block;
    }
}

/* 
=======================
Desktop Styles (769+px)
=======================
*/
/* While within the desktop range, the whole navigation appears without the nav image */
@media only screen and (min-width: 768px) {
    nav#horizontal ul a {
        width: 19.4%;
        display: inline-block;
    }

    a#navicon {
        display: none;
    }
}