@charset "utf-8";

/* 

Author: Brenden Riley
Date: 11.16.18

Filename: styles2.css
 */

header>h1 {
    text-align: center;
    font-size: 2.7em;
}

html {
    background-image: url(background.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: round;
    background-attachment: fixed;
}

body {
    width: 90%;
    min-width: 300px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(227, 228, 228, 0.9);
}

nav#horizontal {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav#horizontal ul a {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    background: linear-gradient(345deg, rgba(43, 45, 148, 0.74), rgba(67, 67, 100, 0.726) 80%);
}

nav a:link,
nav a:visited {}

nav#horizontal ul a:hover,
nav#horizontal ul a:active {
    background-color: rgb(80, 80, 158);
    transition: .5s ease;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    display: block;
}

/* 
====================
Mobile&Tablet Styles
====================
*/
@media only screen and (max-width: 768px) {
    nav#horizontal ul a {
        display: flex;
        flex: 1 1 180px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 42%;
    }

    a#navicon img {
        width: 50%;
    }

    a#navicon {
        display: block;
        width: 10%;
    }

    nav.horizontal ul {
        display: none;
    }

    a#navicon:hover+ul,
    nav.horizontal ul:hover {
        display: block;
    }
}

/* 
=======================
Desktop Styles (769+px)
=======================
*/
@media only screen and (min-width: 768px) {
    nav#horizontal ul a {
        width: 19.4%;
        display: inline-block;
    }

    a#navicon {
        display: none;
    }
}