@charset "utf-8";

/* 

Author: Brenden Riley
Date: 11.16.18

Filename: styles5.css
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* the name at the top of the page is larger and centered */
header>h1 {
    text-align: center;
    font-size: 2.7em;
}

/* the entire page has a background that does not move */
html {
    background-image: url(background.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: round;
    background-attachment: fixed;
}

/* the body is centered, with limits to how much it can scale , centered while taking up 90% of the page */
body {
    width: 90%;
    min-width: 300px;
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(227, 228, 228, 0.9);
}

/* the top navigation is centered, with centered text */
nav#horizontal {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* the links within the nav scale have a gradiet background, with small decorative changes */
nav#horizontal ul a {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    background: linear-gradient(345deg, rgba(43, 45, 148, 0.74), rgba(67, 67, 100, 0.726) 80%);
}

/* the hypertext within the navigation changes over time to look better */
nav#horizontal ul a:hover,
nav#horizontal ul a:active {
    background-color: rgb(80, 80, 158);
    transition: .5s ease;
}

/* h2 tags are centered */
h2 {
    text-align: center;
}

/* the h1 tags are centere, with no text decoration and a large font size */
h1 {
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
}

/* the list items are centered and slightly larger */
li {
    text-align: center;
    font-size: 1.4em;
}

/* unordered lists have no list style , stay to the left, have no top or bottom margin, and are the open sans font */
ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* all images are displayed as fonts */
img {
    display: block;
}

/* 
====================
Mobile&Tablet Styles
====================
*/
/* While within the range of tablet and mobile sizes, the navigation shrinks to the nav image, which when hovered over brings up the rest of the navigation */
@media only screen and (max-width: 768px) {
    nav#horizontal ul a {
        display: flex;
        flex: 1 1 180px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 42%;
    }

    a#navicon img {
        width: 50%;
    }

    a#navicon {
        display: block;
        width: 10%;
    }

    nav.horizontal ul {
        display: none;
    }

    a#navicon:hover+ul,
    nav.horizontal ul:hover {
        display: block;
    }
}

/* 
=======================
Desktop Styles (769+px)
=======================
*/
/* While within the desktop range, the whole navigation appears without the nav image */
@media only screen and (min-width: 768px) {
    nav#horizontal ul a {
        width: 19.4%;
        display: inline-block;
    }

    a#navicon {
        display: none;
    }
}