@charset "utf-8";

/* 

Author: Brenden Riley
Date: 11.16.18

Filename: styles1.css
 */

/* The open sans font is imported from google fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* The name at the top is larger and in the center */
header>h1 {
    text-align: center;
    font-size: 2.7em;
}

/* The entire page has a background that doesn't move with the page */
html {
    background-image: url(background.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: round;
    background-attachment: fixed;
}

/* the body takes up most of the page, scales, and is centered with a slightly transparent white background */
body {
    width: 90%;
    min-width: 300px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(227, 228, 228, 0.9);
}

/* all images are displayed as blocks */
img {
    display: block;
}

/* the various images need to scale with the page, and be set in different positions */
img#profpic {
    display: flex;
    flex: 1 1 480px;
    float: left;
    width: 50%;
    height: 33.5vw;
}

img#skillpic {
    display: flex;
    flex: 1 1 480px;
    float: right;
    width: 50%;
    height: 33.5vw;
}

img#book {
    display: flex;
    flex: 1 1 480px;
    float: left;
    clear: left;
    width: 50%;
    height: 33.5vw;
}

img#mail {
    display: flex;
    flex: 1 1 480px;
    float: right;
    clear: right;
    width: 50%;
    height: 33.5vw;
}

/* The images, when hovered over slowly filter to a sepia filter, to show that they are selected if people wouldn't otherwise know they are links */
img#profpic:hover,
img#profpic:active {
    filter: sepia(.8);
    transition: 5s ease;
}

img#skillpic:hover,
img#skillpic:active {
    filter: sepia(.8);
    transition: 5s ease;
}

img#book:hover,
img#book:active {
    filter: sepia(.8);
    transition: 2s ease;
}

img#mail:hover,
img#mail:active {
    filter: sepia(.8);
    transition: 2s ease;
}

/* all list items with an id that has navpic at the start take up half their width */
li[id^=navpic] {
    width: 50%;
}

/* all paragraphs with an id that starts with text have a left float, a relative position, are white, have a large font size, and have a text shadow to make the text stand out*/
p[id^=text] {
    float: left;
    position: relative;
    color: white;
    font-size: 3em;
    text-shadow: 5px 2px 25px black;
}

/* the unordered lists within the images are offset to the left and right */
ul#picnav {
    padding-left: 20px;
    padding-right: 20px;
}

/* Container collapse prevention, that includes a white background */
ul#picnav:after {
    content: "";
    display: table;
    clear: both;
    background: white;
}

/* The list items are inline, with a width of 90%, offset from the top and bottom while centered, with no list style */
li {
    display: inline;
    margin: 20px auto;
    list-style: none;
}

/* The article has the open sans font  */
article {
    font-family: 'Open Sans', sans-serif;
}

/* 
=======================
Mobile styles (<480px)
=======================
*/
/* whenever the width is below 480 pixels, the text has a position to help it scale, though it doesnt do it great */
@media only screen and (max-width: 480px) {

    p#text1 {
        top: -62vw;
        left: 18vw;
        font-size: 1.5em;
    }

    p#text2 {
        top: -60vw;
        left: 45vw;
        font-size: 1.5em;
    }

    p#text3 {
        top: -30vw;
        left: -15vw;
        font-size: 1.5em;
    }

    p#text4 {
        top: -30vw;
        left: 5vw;
        font-size: 1.5em;
    }
}

/* 
============================
Tablet Styles 1 (480px-550px)
============================
*/
/* whenever the width is below 550 but above 480, another position is set */
@media only screen and (min-width: 480px) and (max-width: 550px) {
    p#text1 {
        top: -60vw;
        left: 15vw;
        font-size: 2em;
    }

    p#text2 {
        top: -60vw;
        left: 40vw;
        font-size: 2em;
    }

    p#text3 {
        top: -30vw;
        left: -18vw;
        font-size: 2em;
    }

    p#text4 {
        top: -30vw;
        left: 2vw;
        font-size: 2em;
    }
}

/* 
============================
Tablet Styles 2 (550px-768px)
============================
*/
/* whenever the width is below 650 and above 550, a position is set */
@media only screen and (min-width: 550px) and (max-width: 650px) {
    p#text1 {
        top: -60vw;
        left: 15vw;
        font-size: 2em;
    }

    p#text2 {
        top: -60vw;
        left: 45vw;
        font-size: 2em;
    }

    p#text3 {
        top: -30vw;
        left: -13vw;
        font-size: 2em;
    }

    p#text4 {
        top: -30vw;
        left: 12vw;
        font-size: 2em;
    }
}

/* 
============================
Tablet Styles 3 (550px-768px)
============================
*/
/* whenever the width is less than 768, and more than 650, a position is set */
@media only screen and (min-width: 650px) and (max-width: 768px) {
    p#text1 {
        top: -60vw;
        left: 15vw;
        font-size: 2.5em;
    }

    p#text2 {
        top: -60vw;
        left: 45vw;
        font-size: 2.5em;
    }

    p#text3 {
        top: -30vw;
        left: -18vw;
        font-size: 2.5em;
    }

    p#text4 {
        top: -30vw;
        left: 5vw;
        font-size: 2.5em;
    }
}

/* 
=======================
Desktop Styles (769+px)
=======================
*/
/* whenever the width is between 768 and 850, a position is set */
@media only screen and (min-width: 768px) and (max-width: 850px) {
    nav#horizontal ul a {
        width: 19.4%;
        display: inline-block;
    }

    a#navicon {
        display: none;
    }

    p#text1 {
        top: -60vw;
        left: 13vw;
        font-size: 3em;
    }

    p#text2 {
        top: -60vw;
        left: 43vw;
        font-size: 3em;
    }

    p#text3 {
        top: -25vw;
        left: -16vw;
        font-size: 3em;
    }

    p#text4 {
        top: -25vw;
        left: 2vw;
        font-size: 3em;
    }
}

/* 
=======================
Desktop Styles 2 (850+px)
=======================
*/
/* whenever the width is less than 950, and more than 850, a position is set */
@media only screen and (min-width: 850px) and (max-width: 950px) {
    p#text1 {
        top: -60vw;
        left: 13vw;
        font-size: 3em;
    }

    p#text2 {
        top: -60vw;
        left: 43vw;
        font-size: 3em;
    }

    p#text3 {
        top: -25vw;
        left: -16vw;
        font-size: 3em;
    }

    p#text4 {
        top: -25vw;
        left: 10vw;
        font-size: 3em;
    }
}

/* 
=======================
Desktop Styles 3 (950+px)
=======================
*/
/* whenever the width is above 950, a position is set */
@media only screen and (min-width: 950px) {
    p#text1 {
        top: -60vw;
        left: 13vw;
        font-size: 4em;
    }

    p#text2 {
        top: -60vw;
        left: 37vw;
        font-size: 4em;
    }

    p#text3 {
        top: -25vw;
        left: -14vw;
        font-size: 4em;
    }

    p#text4 {
        top: -25vw;
        left: 5vw;
        font-size: 4em;
    }
}